@mixin popover-style($background-color) {
  color: $white-color;
  background-color: $background-color;

  .popover-title {
    color: rgba(0, 0, 0, 56%);
    background-color: $background-color;
  }

  &.bottom .arrow::after {
    border-bottom-color: $background-color;
  }

  &.left > .arrow::after {
    border-left-color: $background-color;
  }

  &.top > .arrow::after {
    border-top-color: $background-color;
  }

  &.right > .arrow::after {
    border-right-color: $background-color;
  }
}
