// Opacity

@mixin opacity($opacity) {
  filter: #{alpha(opacity=$opacity-ie)};
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
}

@mixin black-filter($opacity) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(17, 17, 17, $opacity);
}
