.from-check,
.form-check-radio {
  position: relative;
  margin-bottom: 12px;
}

.form-check {
  padding-left: 0;
  margin-bottom: 0.5rem;

  .form-check-label {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    margin-bottom: 0;
    line-height: 26px;
    cursor: pointer;
  }

  .form-check-sign::before,
  .form-check-sign::after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    content: " ";
    background-color: #aaa7a4;
    border-radius: 6px;
    transition: opacity 0.3s linear;
  }

  .form-check-sign::after {
    top: -1px;
    font-family: FontAwesome;
    font-size: 15px;
    color: #fff;
    text-align: center;
    content: "\f00c";
    background-color: inherit;
    border: 0;
    opacity: 0;
  }

  &.disabled {
    .form-check-label {
      color: $dark-gray;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.form-check.disabled .form-check-label,
.form-check.disabled .form-check-label {
}

.form-check input[type="checkbox"],
.form-check-radio input[type="radio"] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.form-check input[type="checkbox"]:checked + .form-check-sign::after {
  opacity: 1;
}

.form-control input[type="checkbox"]:disabled + .form-check-sign::before,
.checkbox input[type="checkbox"]:disabled + .form-check-sign::after {
  cursor: not-allowed;
}

.form-check
  .form-check-label
  input[type="checkbox"]:disabled
  + .form-check-sign,
.form-check-radio input[type="radio"]:disabled + .form-check-sign {
  pointer-events: none !important;
}

.form-check-radio {
  margin-left: -3px;

  .form-check-label {
    padding-left: 2rem;
  }

  &.disabled {
    .form-check-label {
      color: $dark-gray;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.form-check-radio .form-check-sign::before {
  position: absolute;
  top: -5px;
  left: 5px;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 22px;
  content: "\f10c";
  opacity: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-check-label input[type="checkbox"]:checked + .form-check-sign::before {
  background-color: #66615b;
}

.form-check-radio input[type="radio"] + .form-check-sign::after,
.form-check-radio input[type="radio"] {
  display: block;
  content: " ";
  opacity: 0;
  transition: opacity 0.3s linear;
}

.form-check-radio input[type="radio"]:checked + .form-check-sign::after {
  position: absolute;
  top: -5px;
  left: 5px;
  font-family: FontAwesome;
  font-size: 22px;
  content: "\f192";
  opacity: 1;
}

.form-check-radio input[type="radio"]:checked + .form-check-sign::after {
  opacity: 1;
}

.form-check-radio input[type="radio"]:disabled + .form-check-sign::before,
.form-check-radio input[type="radio"]:disabled + .form-check-sign::after {
  color: $dark-gray;
}
