.dropdown {
  > .dropdown-menu:first-of-type {
    display: block;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
      opacity 0.3s ease 0s, height 0s linear 0.35s;
  }

  .dropdown-menu {
    position: absolute;
    visibility: hidden;
    box-shadow: $dropdown-shadow;
    opacity: 0;

    &[x-placement="top-start"] {
      transform: translate3d(0, 0, 0) !important;
    }

    &[x-placement="bottom-start"] {
      transform: translate3d(0, 0, 0) !important;
    }
  }

  &.show .dropdown-menu {
    visibility: visible;
    opacity: 1;

    &[x-placement="top-start"] {
      top: auto !important;
      bottom: 0 !important;
      transform: translate3d(0, -50px, 0) !important;
    }

    &[x-placement="bottom-start"] {
      top: 0 !important;
      bottom: auto !important;
      transform: translate3d(0, 40px, 0) !important;
    }
  }
}

.dropdown-menu {
  padding: 0;
  margin-top: 10px;
  background-color: $white-color;
  border: 0 none;
  border-radius: $border-radius-extreme;

  .divider {
    margin: 0;
    background-color: $medium-pale-bg;
  }

  .dropdown-header {
    padding: $padding-dropdown-vertical $padding-dropdown-horizontal;
    font-size: $font-size-small;
    color: $dark-gray;
  }

  .no-notification {
    padding: 30px;
    font-size: 1.2em;
    color: #9a9a9a;
    text-align: center;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 10px 45px 10px 15px;
    clear: both;
    font-size: $font-size-base;
    color: $font-color;
    white-space: nowrap;

    img {
      margin-top: -3px;
    }
  }

  .dropdown-item:focus {
    outline: 0 !important;
  }

  .btn-group.select & {
    min-width: 100%;
  }

  .dropdown-item:first-child {
    border-top-left-radius: $border-radius-extreme;
    border-top-right-radius: $border-radius-extreme;
  }

  .dropdown-item:last-child {
    border-bottom-right-radius: $border-radius-extreme;
    border-bottom-left-radius: $border-radius-extreme;
  }

  .dropdown-item.dropdown-toggle:last-of-type {
    border-bottom-right-radius: $border-radius-extreme;
    border-bottom-left-radius: $border-radius-extreme;

    + .dropdown-menu {
      &.show {
        left: 100% !important;
      }

      .dropdown-item.dropdown-toggle {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      li .dropdown-item.dropdown-toggle {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: $border-radius-extreme;
        border-bottom-left-radius: $border-radius-extreme;
      }
    }
  }

  .select & .dropdown-item:first-child {
    border-bottom: 0 none;
    border-radius: 0;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: $white-color !important;
    text-decoration: none;
    opacity: 1;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: $default-color;
  }

  &.dropdown-primary .dropdown-item:hover,
  &.dropdown-primary .dropdown-item:focus {
    background-color: $bg-primary;
  }

  &.dropdown-info .dropdown-item:hover,
  &.dropdown-info .dropdown-item:focus {
    background-color: $bg-info;
  }

  &.dropdown-success .dropdown-item:hover,
  &.dropdown-success .dropdown-item:focus {
    background-color: $bg-success;
  }

  &.dropdown-warning .dropdown-item:hover,
  &.dropdown-warning .dropdown-item:focus {
    background-color: $bg-warning;
  }

  &.dropdown-danger .dropdown-item:hover,
  &.dropdown-danger .dropdown-item:focus {
    background-color: $bg-danger;
  }
}

.dropdown-divider {
  margin: 0 !important;
}

//fixed the bug for the select items in btn-group

.btn-group.select.open {
  overflow: visible;
}

.dropdown-menu-right {
  right: -2px;
  left: auto;
}
