.landing-alert {
  margin-bottom: 0;
}

.page-header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;

  .filter::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 50%);
  }

  &.page-header-small {
    min-height: 65vh !important;
    max-height: 700px;
  }

  &.page-header-xs {
    min-height: 40vh !important;
  }

  &.section-dark {
    .content-center,
    .category-absolute {
      z-index: 1;
    }
  }
}

.page-header .motto {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: left;
}

.landing-section {
  z-index: 1;
  padding: 100px 0;
}

.section-buttons {
  z-index: 1;
}

.landing-section .btn-simple {
  padding: 0;
}

.landing-section .column {
  padding: 0 75px 0 25px;
}

.team-player .img-circle,
.team-player .img-thumbnail {
  display: block;
  width: 120px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.contact-form {
  margin-top: 30px;
}

.contact-form label {
  margin-top: 15px;
}

.contact-form .btn {
  margin-top: 30px;
}

.navbar-relative {
  position: relative;
  z-index: 2;
}

#register-navbar a {
  color: #fff;
}

.register-background .container {
  position: relative;
  z-index: 3;
  margin-top: 11%;
}

.register-footer {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  color: $white-color;
  background: transparent;
}

.register-footer .fa-heart {
  color: #eb5e28;
}

.register-card label {
  margin-top: 15px;
}

.register-card .title {
  color: #b33c12;
  text-align: center;
}

.register-card .btn {
  margin-top: 30px;
}

.register-card .forgot {
  text-align: center;
}

.profile-content {
  position: relative;
}

.owner {
  text-align: center;
}

.owner .avatar {
  display: inline-block;
  max-width: 180px;
  padding: 15px;
  margin: -85px auto 0;
}

.owner .name h4 {
  margin-top: 10px;
}

.profile-tabs {
  min-height: 300px;
  margin: 50px 0;
}

#following h3 {
  margin: 20px 0 40px;
}

#follows .follows .unfollow .checkbox {
  margin-top: -15px;
}

#follows .follows h6 {
  margin-top: 15px;
}

.follows hr {
  margin-top: 10px;
}

.alert h5 {
  // margin-bottom: 10px;
}

.title-brand {
  position: relative;
  display: block;
  max-width: 730px;
  margin: 0 auto;
  color: #fff;
  text-align: center;

  .type {
    position: absolute;
    top: 0;
    right: -15px;
    padding: 6px 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #132026;
    border-radius: 4px;
  }
}

.presentation-title {
  margin: 0;
  font-size: 8em;
  font-weight: 700;
  color: #fff;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #fff 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #fff 35%, #4e6773 100%);
  background: -ms-linear-gradient(top, #fff 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #fff 35%, #4e6773 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation-subtitle {
  font-size: 1.7em;
  color: #fff;
}

.category-absolute {
  position: absolute;
  top: 100vh;
  width: 100%;
  padding: 0 15px;
  margin-top: -60px;
  color: rgba(255, 255, 255, 50%);
  text-align: center;

  .creative-tim-logo {
    position: relative;
    top: -2px;
    left: 3px;
    max-width: 140px;
  }
}

.fog-low {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
  margin-bottom: -50px;
  margin-left: -35%;
  opacity: 0.85;

  img {
    width: 100%;
  }

  &.right {
    margin-left: 30%;
    opacity: 1;
  }
}

.page-header {
  .content-center {
    margin-top: 85px;
  }
}

.moving-clouds {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.following {
  img {
    max-width: 70px;
  }
}

.profile-content {
  & .tab-content {
    & .tab-pane {
      min-height: 200px;
    }

    & #tweets,
    #connections,
    #media {
      height: 100%;
    }
  }
}
