/*           Labels & Progress-bar              */
.label {
  display: inline-block;
  padding: 0.2em 0.6em;
  margin-bottom: 3px;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
}

.label-primary {
  background-color: $primary-color;
}

.label-info {
  background-color: $info-color;
}

.label-success {
  background-color: $success-color;
}

.label-warning {
  background-color: $warning-color;
}

.label-danger {
  background-color: $danger-color;
}

.label-default {
  background-color: $default-color;
}
