.modal-header {
  display: block !important;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid $medium-gray;

  &.no-border-header {
    border-bottom: 0 none !important;

    & .modal-title {
      margin-top: 20px;
    }
  }

  button.close {
    &:focus {
      outline: none;
    }
  }
}

.modal-dialog {
  &.modal-sm,
  &.modal-register {
    .modal-header {
      button.close {
        margin-top: 0;
      }
    }
  }
}

.modal-content {
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 15%), 0 0 1px 1px rgba(0, 0, 0, 10%);

  .modal-header {
    h6 {
      margin-top: 10px;
    }
  }
}

.modal-dialog {
  padding-top: 60px;
}

.modal-body {
  padding: 20px 50px;
  color: #000;
}

.modal-footer {
  padding: 0;
  border-top: 1px solid $medium-gray;

  &.no-border-footer {
    border-top: 0 none;
  }
}

.modal-footer .left-side,
.modal-footer .right-side {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.modal-footer .btn-link {
  width: 100%;
  padding: 20px;
}

.modal-footer .divider {
  display: inline-block;
  float: inherit;
  // position: absolute;
  width: 1px;
  height: 63px;
  margin: 0 -3px;
  background-color: $medium-gray;
}

.modal-register .modal-footer {
  padding: 20px 0 15px;
  margin-bottom: 25px;
  text-align: center;

  span {
    width: 100%;
  }
}

.modal-header::after {
  display: table;
  content: " ";
}

.modal-header::before {
  display: table;
  content: " ";
}
