#bodyClick {
  position: fixed;
  top: 0;
  right: 230px;
  left: auto;
  z-index: 1029;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  content: "";
  opacity: 0;
}

body {
  position: relative;
}

body > .navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1032;
  display: block;
  width: 300px;
  height: 100vh;
  padding-top: 15px;
  overflow-y: visible;
  text-align: left;
  visibility: visible;
  background-color: $white-color;
  border-top: none;
  border-left: 1px solid $table-line-color;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transform: translateX(300px);

  ul {
    position: relative;
    z-index: 3;
    height: 100%;
    overflow-y: auto;
  }

  .nav > li {
    &:last-child {
      border-bottom: 0;
    }

    & > a {
      padding: 15px;
      margin: 0;
      font-size: $font-size-small;
      font-weight: 600;
      line-height: $line-height-general;
      color: $default-color;
      text-transform: uppercase;

      &:hover,
      &.active {
        color: $default-states-color;
      }

      span {
        display: inline-block !important;
        margin-left: 5px;
      }
    }

    &.social-links {
      margin-left: -40px;
      text-align: center;

      > a {
        padding: 15px;
        font-size: 20px;
      }
    }
  }

  .scroll-area {
    max-height: none;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $bg-nude;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0%) 0%,
      rgba(112, 112, 112, 0%) 60%,
      rgba(186, 186, 186, 15%) 100%
    );
  }

  &.navbar-white-collapse {
    &::after {
      background-color: $white-color;
    }
  }

  &.has-image::after {
    @include black-filter(0.8);
  }

  .dropdown-menu {
    display: none;
  }

  .open .dropdown-menu {
    position: static;
    display: block;
    float: none;
    width: auto;
    min-width: auto !important;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .caret {
    border-top-color: $default-states-color;
    border-bottom-color: $default-states-color;
  }

  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: transparent;
  }
}

body > navbar-white-collapse {
}

body > .navbar-collapse.collapse {
  height: 100vh !important;
}

.wrapper {
  position: relative;
  left: 0;
  z-index: 1;
  background-color: white;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

  &.transition {
    transform: translateX(0);
  }
}

.navbar-burger {
  .navbar-toggle .icon-bar {
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 1px;
  }

  &.navbar-transparent .navbar-toggle .icon-bar {
    background: #fff;
  }

  .container {
    position: relative;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

  .navbar-header .navbar-toggle {
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 8px;
  }

  .bar1,
  .bar2,
  .bar3 {
    outline: 1px solid transparent;
  }

  .bar1 {
    top: 0;
    animation: $topbar-back 500ms 0s;
    animation-fill-mode: forwards;
  }

  .bar2 {
    opacity: 1;
  }

  .bar3 {
    bottom: 0;
    animation: $bottombar-back 500ms 0s;
    animation-fill-mode: forwards;
  }

  .toggled .bar1 {
    top: 6px;
    animation: $topbar-x 500ms 0s;
    animation-fill-mode: forwards;
  }

  .toggled .bar2 {
    opacity: 0;
  }

  .toggled .bar3 {
    bottom: 6px;
    animation: $bottombar-x 500ms 0s;
    animation-fill-mode: forwards;
  }

  @include topbar-x-rotation();
  @include topbar-back-rotation();
  @include bottombar-x-rotation();
  @include bottombar-back-rotation();
}
