.card-plain {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;

  .card-body {
    padding-right: 5px;
    padding-left: 5px;
  }

  img {
    border-radius: $border-radius-extreme;
  }
}
