extends _navbar_base

block append navs
  li.nav-item
    a.nav-link(
      href="https://demos.creative-tim.com/paper-kit-2/docs/1.0/getting-started/introduction.html",
      target="_blank"
    )
      i.fa.fa-book
      | Documentation
  li.nav-item
    a.btn.btn-danger.btn-round(
      href="https://www.creative-tim.com/product/paper-kit-2-pro?ref=pk2-free-local",
      target="_blank"
    ) Upgrade to Pro
