extends _navbar_base

block prepend navs
  li.nav-item
    a.nav-link(href="index.pug")
      i.fa.fa-columns
      | Components
  li.nav-item
    a.nav-link(
      href="https://demos.creative-tim.com/paper-kit-2/docs/1.0/getting-started/introduction.html",
      target="_blank"
    )
      i.fa.fa-book
      | Documentation
