extends _layout

block main-container
  div(style="background-image: url('../assets/img/login-image.jpg')")
    main
      .container
        .row.py-5
          .col-lg-4.col-md-6.mx-auto
            include _register_form

    footer.container.py-3
      .text-center
        | ©
        script.
          document.write(new Date().getFullYear());
        | , made with
        = " "
        i.fas.fa-heart
        = " "
        | by Creative Tim

block footer-container
